body {width: 100%; height: 100%; margin: 0 auto;}

header {width: 100%; height: 100%;}
#Wrap1 {width: 100%; height: 20px; border-bottom: 2px solid #eee;}
.Wrap_01 { width: 980px; height: 30px; margin: 0 auto;}
.Wrap_01a {width: 200px; height: 30px; float: right;}
.Wrap_01a li {float: left; width: 50px; height: 10px;}
#name {width: 100%; height: 30px; margin: 0 auto; margin-bottom: 10px;}
h1 {width: 200px; height: 40px; margin: 0 auto;}

#menuWrap {width: 100%; height: 30px; background: #1c5da3; font: 14px;}
.menuWrap_01 {width: 100%; height: 30px; margin: 0 auto; overflow: hidden;}
.menuWrap_01a {width: 980px; height: 30px; margin: 0 auto; }
.menuWrap_01a > ul {width: ; height: 30px; }
.menuWrap_01a li {float: left; width: 160px; height: 30px; text-align: center; padding-top: 5px; font-size: 12px; border-left: 1px solid #336eac;  }
.menuWrap_01a li:nth-child(6) { border-right: 1px solid #336eac;}
.menuWrap_01a li a { color: #fff;}














