#main_header { height: 60px; line-height: 60px; padding-left: 10px; border-bottom: 1px solid black; background: #1d4088; color: white;}

#main_gnb {overflow: hidden; border-bottom: 1px solid black; background: #32394a;}
#main_gnb>ul.left { overflow: hidden; float: left;}
#main_gnb>ul.right { overflow: hidden; float: right;}
#main_gnb>ul.left>li { float: left;}
#main_gnb>ul.right>li { float: left;}

/*
#main_gnb a {display: block; padding: 10px 20px; border-left: 1px solid #5f6673;border-right: 1px solid #242a37; color: white; font-weight: bold;}

body {min-width: 760px;}

#wrap {overflow: hidden;}
#wrap > #main_lnb { float: left; width: 200px;}
#wrap > #content_wrap { float: left; width: 100%; *width:99.9%; margin-right: -200px;}
#wrap >#content_wrap>#content {padding-right: 200px;}

#wrap { background: #71b1d1;}
#main_lnb>ul>li>a { display: block; height: 40px; line-height: 40px; padding-left: 15px; border-top: 1px solid #96d6f6; border-bottom: 1px solid #6298b2; color: white; font-weight: bold;}
#content { background: white; border-left: 1px solid black;}
article { padding: 10px;}
#main_footer { padding: 10px; border-top: 3px solid #000; text-align: center;}


#top_bar { position: fixed; top: 150; left: 0; right: 0; height: 50px; background: red;}
#bottom_bar { position: fixed; bottom: 0; left: 0; right: 0; height: 50px; background: red;}
#left_bar { position: fixed; top: 1015px; bottom: 50px; left: 0; width: 50px; background: blue;}
#right_bar { position: fixed; top: 1015px; bottom: 50px; right: 0; width: 50px; background: blue;}
article {margin: 50px;}
*/


*{margin: 0; padding: 0;}
h1 { width: 300px; height: 350px; background-color: yellow;}
h1:hover { cursor: move;}




















