*{padding: 0;margin: 0; box-sizing: border-box;}
ul, li {list-style: none;}

header { width: 100%;}
#headwrap>#snswrap { width: 100%;}
#headwrap>#snswrap>.snsbox {width: 1200px; font-size: 12px; margin: 0 auto; margin-bottom: 30px;}
#headwrap>#snswrap>.snsbox:after {content: ""; clear: both; display: block;}
#headwrap>#snswrap>.snsbox>.sns_sbox {width: 150px; float: right; margin-top: 10px; position: relative;}
#headwrap>#snswrap>.snsbox>.sns_sbox>ul {width: 80px;}
#headwrap>#snswrap>.snsbox>.sns_sbox>ul:after {content: ""; display: block; clear: both;}
#headwrap>#snswrap>.snsbox>.sns_sbox>ul>li {float: left; width: 18px;}
#headwrap>#snswrap>.snsbox>.sns_sbox>ul>li:nth-child(1) {position: absolute;}
#headwrap>#snswrap>.snsbox>.sns_sbox>ul>li:nth-child(2) {position: absolute; left: 40px;}
#headwrap>#snswrap>.snsbox>.sns_sbox>ul>li:nth-child(3) {position: absolute; left: 75px;}
#headwrap>#snswrap>.snsbox>.sns_sbox>ul>li>a>img {width: 30px; height: 30px; position: absolute;}

#headwrap>#snswrap>.snsbox>.sns_sbox>ul>li:nth-child(1) img:nth-child(2) {opacity: 0;}
#headwrap>#snswrap>.snsbox>.sns_sbox>ul>li:nth-child(2) img:nth-child(2) {opacity: 0;}
#headwrap>#snswrap>.snsbox>.sns_sbox>ul>li:nth-child(3) img:nth-child(2) {opacity: 0;}

#headwrap>#snswrap>.snsbox>.sns_sbox>ul>li:hover img:nth-child(2) {opacity: 1;}

#headwrap>#snswrap>.snsbox>.hbox {width: 150px; background: #eee; position: relative; left: 30px; top: 10px; float: left;}
#headwrap>#snswrap>.snsbox>.hbox>a>img {position: absolute; width: 40px; height: 40px;}
#headwrap>#snswrap>.snsbox>.hbox>p {position: absolute; left: 50px;top: 0px;}
#headwrap>#snswrap>.snsbox>.hbox>p>a { color: #a73838; font-family: "Britannic"; font-weight: bold; font-size: 30px;}


#main_gnb_wrap { width: 100%; height: 50px; margin-bottom: 10px;}
#main_gnb_wrap>.gnbwrap { width: 1200px; height: 50px; margin: 0 auto; position: relative; z-index: 1; border-bottom: 1px solid #eee; }
#main_gnb_wrap>.gnbwrap>.gnbbox { width: 900px; height: 50px; margin: 0 auto; }
#main_gnb_wrap>.gnbwrap>.gnbbox:after {content: ""; clear: both; display: block;}
#main_gnb_wrap>.gnbwrap>.gnbbox>ul {}
#main_gnb_wrap>.gnbwrap>.gnbbox>ul.gnbbox01>li {width: 300px; height: 50px; float: left; text-align: center; line-height: 50px; border-radius: 5px;}
#main_gnb_wrap>.gnbwrap>.gnbbox>ul.gnbbox01>li>a { font-size: 24px; font-family: "Calibri"; font-weight: bold; display: block;}
#main_gnb_wrap>.gnbwrap>.gnbbox>ul.gnbbox01>li:hover { background: url(../img/gnb_bk2.jpg) no-repeat center; text-shadow: 1px 1px black; } 
#main_gnb_wrap>.gnbwrap>.gnbbox>ul.gnbbox01>li:hover >a { color: white;}
#main_gnb_wrap>.gnbwrap>.gnbbox>ul.gnbbox01>li:hover .subgnb01 {display: block; }

#main_gnb_wrap>.gnbwrap>.gnbbox>ul>li>.subgnb01>ul.subgnb01a>li:hover {background: url(../img/subgnb_bk3.jpg) no-repeat center; border-top: 1px solid #cccbcb; border-bottom: 1px solid #5a130b; border-radius: 5px;}


#main_gnb_wrap>.gnbwrap>.gnbbox>ul>li>.subgnb01 { width: 300px;  display: none; }
#main_gnb_wrap>.gnbwrap>.gnbbox>ul>li>.subgnb01>ul.subgnb01a>li { box-sizing: border-box; height: 40px; line-height: 40px; border-radius: 5px;}
#main_gnb_wrap>.gnbwrap>.gnbbox>ul>li>.subgnb01>ul>li>a {color: indianred; font-size: 15px; display: block; font-family: 'Nanum Gothic', sans-serif; font-weight: bold;}

div#m_box {width: 100%;}
div#m_box>.m_box01 { width: 1200px; height: 30px; margin: 0 auto;  position: relative; border-bottom: 1px solid #eee;}
div#m_box>.m_box01:after {content: ""; clear: both; display: block;}
div#m_box>.m_box01>.m_s01 {width: 120px; height: 30px; float: left; position: absolute;  left: 40px;}
div#m_box>.m_box01>.m_s01>h3 {}
div#m_box>.m_box01>.m_s02 {width: 100px; height: 30px; float: right; position: absolute;  right: 10px; }
div#m_box>.m_box01>.m_s02>a {font-weight: bold;}

div#cwrap {width: 100%;}
div#cwrap>#c_wrap {width: 1200px; height: 800px; margin: 0 auto; position: relative;}
div#cwrap>#c_wrap:after {content: ""; clear: both; display: block;}
div#cwrap>#c_wrap>.si_wrap {width: 160px; background: #ccc; position: absolute; float: left;}
div#cwrap>#c_wrap>.si_wrap>.si_gnb {width: 140px; height: 120px; background: #fff; position: absolute; left: 10px; top: 10px; }
div#cwrap>#c_wrap>.si_wrap>.si_gnb>ul>li { width: 140px; height: 40px; line-height: 40px; text-align: center; box-sizing: border-box; border-bottom: 1px solid #ddd; border-radius: 10px;}
div#cwrap>#c_wrap>.si_wrap>.si_gnb>ul>li>a { display: block; font-weight: bold;}
div#cwrap>#c_wrap>.si_wrap>.si_gnb>ul>li:hover { background: #51150b;}
div#cwrap>#c_wrap>.si_wrap>.si_gnb>ul>li:hover a {color: white; font-weight: bold; transform: scale(1.1);}

div#cwrap>#c_wrap>.co_wrap {width: 1030px; height: 1680px; position: absolute; left: 170px; top: 20px;}
div#cwrap>#c_wrap>.co_wrap:after {content: ""; clear: both; display: block;}
div#cwrap>#c_wrap>.co_wrap>.img { width: 30px; height: 40px; float: left; padding-left: 5px;}
div#cwrap>#c_wrap>.co_wrap>.img>img { width: 20px; height: 30px;  margin-top: 5px; margin-right: 5px;}
div#cwrap>#c_wrap>.co_wrap>h2 { width: 300px; height: 40px; line-height: 40px; color: #5a130b; margin-bottom: 20px; margin-left: 25px;}



div#cwrap>#c_wrap>.co_wrap>.co_01 {width: 1030px; height: 200px; position: relative; top: 10px;}
div#cwrap>#c_wrap>.co_wrap>.co_01>.co_01a {width: 380px; height: 200px; position: absolute; left: 20px;}
div#cwrap>#c_wrap>.co_wrap>.co_01>.co_01a>img {width: 380px; height: 200px; }
div#cwrap>#c_wrap>.co_wrap>.co_01>.co_01b {width: 600px; height: 200px; position: absolute; left: 440px; }
div#cwrap>#c_wrap>.co_wrap>.co_01>.co_01b>h2 {padding-top: 50px; color: black;}
div#cwrap>#c_wrap>.co_wrap>.co_01>.co_01b>p { padding-top: 10px; color: black; font-size: 14px;}

div#cwrap>#c_wrap>.co_wrap>.co_02 {width: 1030px; height: 200px; position: relative; top: 40px;}
div#cwrap>#c_wrap>.co_wrap>.co_02>.co_02a {width: 380px; height: 200px; position: absolute; right: 20px;}
div#cwrap>#c_wrap>.co_wrap>.co_02>.co_02a>img {width: 380px; height: 200px;}
div#cwrap>#c_wrap>.co_wrap>.co_02>.co_02b {width: 600px; height: 200px; position: absolute; left: 20px; padding-left: 5px;}
div#cwrap>#c_wrap>.co_wrap>.co_02>.co_02b>h2 {padding-top: 40px; color: black;}
div#cwrap>#c_wrap>.co_wrap>.co_02>.co_02b>p { padding-top: 10px; color: black; font-size: 14px; }

div#cwrap>#c_wrap>.co_wrap>.co_03 {width: 1030px; height: 200px; position: relative; top: 70px;}
div#cwrap>#c_wrap>.co_wrap>.co_03>.co_03a {width: 380px; height: 200px; position: absolute; left: 20px;}
div#cwrap>#c_wrap>.co_wrap>.co_03>.co_03a>img {width: 380px; height: 200px;}
div#cwrap>#c_wrap>.co_wrap>.co_03>.co_03b {width: 600px; height: 200px; position: absolute; left: 440px;}
div#cwrap>#c_wrap>.co_wrap>.co_03>.co_03b>h2 {padding-top: 40px; color: black;}
div#cwrap>#c_wrap>.co_wrap>.co_03>.co_03b>p { padding-top: 10px; color: black; font-size: 14px;}

div#cwrap>#c_wrap>.co_wrap>.co_04 {width: 1030px; height: 200px; position: relative; top: 100px;}
div#cwrap>#c_wrap>.co_wrap>.co_04>.co_04a {width: 380px; height: 200px; position: absolute; right: 20px;}
div#cwrap>#c_wrap>.co_wrap>.co_04>.co_04a>img {width: 380px; height: 200px;}
div#cwrap>#c_wrap>.co_wrap>.co_04>.co_04b {width: 600px; height: 200px; position: absolute; left: 20px; padding-left: 5px;}
div#cwrap>#c_wrap>.co_wrap>.co_04>.co_04b>h2 {padding-top: 30px; color: black;}
div#cwrap>#c_wrap>.co_wrap>.co_04>.co_04b>p { padding-top: 10px; color: black; font-size: 14px;}

div#cwrap>#c_wrap>.co_wrap>.co_05 {width: 1030px; height: 200px; position: relative; top: 130px; left: 20px;}
div#cwrap>#c_wrap>.co_wrap>.co_05>.co_05a {width: 380px; height: 200px; position: absolute;}
div#cwrap>#c_wrap>.co_wrap>.co_05>.co_05a>img {width: 380px; height: 200px;}
div#cwrap>#c_wrap>.co_wrap>.co_05>.co_05b {width: 600px; height: 200px; position: absolute; left: 430px;}
div#cwrap>#c_wrap>.co_wrap>.co_05>.co_05b>h2 {padding-top: 30px; color: black;}
div#cwrap>#c_wrap>.co_wrap>.co_05>.co_05b>p { padding-top: 10px; color: black; font-size: 14px;}

div#cwrap>#c_wrap>.co_wrap>.co_06 {width: 1030px; height: 200px; position: relative; top: 160px;}
div#cwrap>#c_wrap>.co_wrap>.co_06>.co_06a {width: 380px; height: 200px; position: absolute; right: 20px;}
div#cwrap>#c_wrap>.co_wrap>.co_06>.co_06a>img {width: 380px; height: 200px;}
div#cwrap>#c_wrap>.co_wrap>.co_06>.co_06b {width: 600px; height: 200px;  position: absolute; left: 20px; padding-left: 5px;}
div#cwrap>#c_wrap>.co_wrap>.co_06>.co_06b>h2 {padding-top: 40px; color: black;}
div#cwrap>#c_wrap>.co_wrap>.co_06>.co_06b>p { padding-top: 10px; color: black; font-size: 14px;}

div#cwrap>#c_wrap>.co_wrap>.co_07 {width: 1030px; height: 200px; position: relative; top: 190px;}
div#cwrap>#c_wrap>.co_wrap>.co_07>.co_07a {width: 380px; height: 200px;position: absolute; left: 20px;}
div#cwrap>#c_wrap>.co_wrap>.co_07>.co_07a>img {width: 380px; height: 200px;}
div#cwrap>#c_wrap>.co_wrap>.co_07>.co_07b {width: 600px; height: 200px; position: absolute; left: 440px;}
div#cwrap>#c_wrap>.co_wrap>.co_07>.co_07b>h2 {padding-top: 30px; color: black;}
div#cwrap>#c_wrap>.co_wrap>.co_07>.co_07b>p { padding-top: 10px; color: black; font-size: 14px;}



div.p_num { width: 1030px; height: 20px; position: absolute; bottom: 10px;}
div.p_num>.p_nbox {width: 200px; height: 20px; margin: 0 auto;}
div.p_num>.p_nbox>p {float: left; padding-left: 60px;}
div.p_num>.p_nbox>ul>li {float: left; padding-left: 5px;}

footer {width: 100%;}
#fwrap {width: 1200px; height: 100px;  margin: 0 auto; border-top: 1px solid #eee; position: relative; top: 950px;}
#fwrap>.fbox01 {width: 120px; height: 120px; position: absolute; top: 20px; left: 280px; }
#fwrap>.fbox01>img {width: 100px; height: 100px; position: absolute; opacity: 0.2; top: 10px; left: 10px;}
#fwrap>.fbox01>p.a1 { font-size: 40px; font-family: "Britannic"; position: absolute; top: 25px; left: 10px; color: #000; }
#fwrap>.fbox01>p.a2 { font-size: 15px; font-weight: bold; position: absolute; top: 70px; left: 15px; color: #000; font-family: "Britannic";}

#fwrap>.fbox02 {width: 900px; color: #333; position: absolute; top: 60px; left: 450px; }
#fwrap>.fbox02>p.b1 {font-size: 12px; padding-bottom: 20px;}
#fwrap>.fbox02>p.b2

