body {width: 100%; height: 100%; margin: 0 auto; font-family: "나눔바른고딕"; background: #fff;}
*{padding: 0; margin: 0; box-sizing: border-box;}
li { list-style: none;}
a:link,a:visited{text-decoration: none; color: #000;}
.clearfix:after {content: ""; clear: both; display: none;}


header {width: 100%; height: 100%; position: relative; z-index: 1;}
#Wrap1 {width: 100%;  border-bottom: 2px solid #eee; margin-bottom: 5px;}
.Wrap_01 { width: 980px; margin: 0 auto; }
.Wrap_01:after {content: ""; clear: both; display: block;}
.Wrap_01a {width: 200px; height: 20px; float: right; line-height: 20px; }

.Wrap_01a>ul>li>a {display: block; width: 50px;}
.Wrap_01a>ul:after {content: ""; clear: both; display: block;}
.Wrap_01a>ul>li {float: left; width: 50px; height: 20px; }
#name {width: 100%; height: 30px; margin: 0 auto; margin-bottom: 10px;}
h1 {width: 200px; height: 40px; margin: 0 auto;}

#menuWrap {width: 100%; height: 30px; background: #1c5da3; font: 14px;}
.menuWrap_01 {width: 100%;  margin: 0 auto; }
.menuWrap_01a {width: 980px; margin: 0 auto; }
.menuWrap_01a > ul:after { content: ""; display: block; clear: both; }
.menuWrap_01a >ul>li {float: left; width: 160px; height: 30px; text-align: center; line-height: 30px; font-size: 12px; border-left: 1px solid #336eac;  }
.menuWrap_01a >ul>li:nth-child(6) { border-right: 1px solid #336eac;}
.menuWrap_01a >ul>li>a { color: #fff; display: block;font-weight: bold;}
.menuWrap_01a >ul>li:hover {background: skyblue; color: #336eac;}
.menuWrap_01a >ul>li>a:hover { color: #336eac;}
.menuWrap_01a>ul>li:hover ul.submenu {display: block; background: #1c5da3; }
.menuWrap_01a>ul>li:hover ul.submenu >li {border-bottom: 1px solid #fff; }

#visual { width: 100%;  margin: 0 auto; background: url(../img/bn.jpg) no-repeat ; background-size: cover; z-index: -99;}

.vsWrap { width: 980px; height: 320px; margin: 0 auto; box-sizing: border-box; overflow: hidden;}
.vsWrap_01 {width: 300px; height: 300px; float: left;}

.vsWrap_01a { width: 340px; color: #fff; font-weight: bold; margin-bottom: 10px;}
.vsWrap_01a>p { font-size: 60px; line-height: 70px; height: 140px; padding-top: 60px; }
.vsWrap_01b>ul>li { font-size: 15px; }
.vsWrap_01b>ul>li>a {color: #fff;}
.vsWrap_01b {width: 290px; height: 100px; padding-top: 60px;}

.vsWrap_02 { width: 260px; height: 360px; float: left; margin-left: 200px;}
.vsWrap_02>img {width: 100%; height: 100%;}

.menuWrap_01a>ul>li ul.submenu {display: none;}
.menuWrap_01a>ul>li ul.submenu a {color: white; display: block;}

.s_box { width: 200px; height: 10px; position: absolute; top: 360px;}
.s_box>ul {width: 100%;}
.s_box>ul>li {float: left; width: 59px; height: 4px;}
.s_box>ul>li:nth-child(2) {margin: 0 10px;}

#mid { width: 100%; background: #eee; margin-bottom: 30px;}
#mid>.mid_01 { width: 980px; background: #eee; margin: 0 auto;}
#mid>.mid_01>ul { width: 100%; height: 196px;}
#mid>.mid_01>ul>li {width: 196px; height: 196px; float: left; text-align: center; padding-top: 30px; display: block;}
#mid>.mid_01>ul>li:nth-child(1) {background: #7c99b9;}
#mid>.mid_01>ul>li:nth-child(2) {background: #4f74a1;}
#mid>.mid_01>ul>li:nth-child(3) {background: #4b8ce0;}
#mid>.mid_01>ul>li:nth-child(4) {background: #3db5f2;}
#mid>.mid_01>ul>li:nth-child(5) {background: #95c8ff;}
#mid>.mid_01>ul li a {display: block; color: white; font-size: 14px; padding-top: 5px;}
#mid>.mid_01>ul li>h3 {color: white; font-size: 18px; font-weight: bold; padding-top: 5px;}

#mid>.mid_01>ul>li img { width: 35%; height: 35%;}

#cwrap {width: 100%; margin-bottom: 20px;}
#cwrap>.cwrap_01{ width: 980px; margin: 0 auto;  }
#cwrap>.cwrap_01:after {content: ""; clear: both; display: block;}
#cwrap>.cwrap_01>.cwrap_01a {width: 310px; height: 270px; border: 1px solid #ddd; box-sizing: border-box; float: left; }
#cwrap>.cwrap_01>.cwrap_01a>div:first-child {width: 310px; height: 183px;}
#cwrap>.cwrap_01>.cwrap_01a>div:first-child img {width: 309px; height: 183px;}
#cwrap>.cwrap_01>.cwrap_01a>div:last-child {width: 290px; height: 50px; padding: 10px;}
#cwrap>.cwrap_01>.cwrap_01a>div:last-child>h3 {font-weight: bold; font-size: 16px;}
#cwrap>.cwrap_01>.cwrap_01a>div:last-child>p { font-size: 13px; color: #9b9b9b;}
#cwrap>.cwrap_01>.cwrap_01b {width: 310px; height: 270px; border: 1px solid #ddd; box-sizing: border-box; float: left; margin: 0 25px; }
#cwrap>.cwrap_01>.cwrap_01b>div:first-child {width: 310px; height: 183px;}
#cwrap>.cwrap_01>.cwrap_01b>div:first-child img {width: 309px; height: 183px;}
#cwrap>.cwrap_01>.cwrap_01b>div:last-child {width: 290px; height: 50px; padding: 10px;}
#cwrap>.cwrap_01>.cwrap_01b>div:last-child>h3 {font-weight: bold; font-size: 16px;}
#cwrap>.cwrap_01>.cwrap_01b>div:last-child>p { font-size: 13px; color: #9b9b9b;}
#cwrap>.cwrap_01>.cwrap_01c {width: 310px; height: 270px; border: 1px solid #ddd; box-sizing: border-box; float: right; }
#cwrap>.cwrap_01>.cwrap_01c>div:first-child {width: 310px; height: 183px;}
#cwrap>.cwrap_01>.cwrap_01c>div:first-child img {width: 309px; height: 183px;}
#cwrap>.cwrap_01>.cwrap_01c>div:last-child {width: 290px; height: 50px; padding: 10px;}
#cwrap>.cwrap_01>.cwrap_01c>div:last-child>h3 {font-weight: bold; font-size: 16px;}
#cwrap>.cwrap_01>.cwrap_01c>div:last-child>p { font-size: 13px; color: #9b9b9b;}

#cwrap02 {width: 100%; margin-bottom: 30px;}
#cwrap02>.cwrap_02{ width: 980px; margin: 0 auto;  }
#cwrap02>.cwrap_02:after {content: ""; clear: both; display: block;}

#cwrap02>.cwrap_02>.cwrap_02a { width: 310px; height: 140px;  border: 1px solid #ddd; box-sizing: border-box; float: left;}
#cwrap02>.cwrap_02>.cwrap_02a>.in_01 { width: 145px; height: 140px; z-index: 99; float: left; padding: 10px;}
#cwrap02>.cwrap_02>.cwrap_02a>.in_02 { width: 163px; height: 140px; float: right; background: url("../img/d_4.png") no-repeat center; background-size: 75%}
#cwrap02>.cwrap_02>.cwrap_02a>.in_01>h3 { font-size: 16px; }
#cwrap02>.cwrap_02>.cwrap_02a>.in_01>p {font-size: 12px; color: #9b9b9b; padding-top: 10px;}
#cwrap02>.cwrap_02>.cwrap_02a>.in_01>a { color: #4b8ce0; padding-top: 10px; display: block;}

#cwrap02>.cwrap_02>.cwrap_02b { width: 310px; height: 140px;  border: 1px solid #ddd; box-sizing: border-box; float: left; margin: 0 25px;}
#cwrap02>.cwrap_02>.cwrap_02b>.in_01a { width: 145px; height: 140px; z-index: 99; float: left; padding: 10px;}
#cwrap02>.cwrap_02>.cwrap_02b>.in_02a { width: 163px; height: 140px; float: right; background: url("../img/d_5.png") no-repeat center; background-size: 75%}
#cwrap02>.cwrap_02>.cwrap_02b>.in_01a>h3 { font-size: 16px; }
#cwrap02>.cwrap_02>.cwrap_02b>.in_01a>p {font-size: 12px; color: #9b9b9b; padding-top: 10px;}
#cwrap02>.cwrap_02>.cwrap_02b>.in_01a>a { color: #4b8ce0; padding-top: 10px; display: block;}


#cwrap02>.cwrap_02>.cwrap_02c { width: 310px; height: 140px;  border: 1px solid #ddd; box-sizing: border-box; float: right;}
#cwrap02>.cwrap_02>.cwrap_02c>.in_01b { width: 145px; height: 140px; z-index: 99; float: left; padding: 10px;}
#cwrap02>.cwrap_02>.cwrap_02c>.in_02b { width: 163px; height: 140px; float: right; background: url("../img/d_6.png") no-repeat center; background-size: 75%; }
#cwrap02>.cwrap_02>.cwrap_02c>.in_01b>h3 { font-size: 16px; }
#cwrap02>.cwrap_02>.cwrap_02c>.in_01b>p {font-size: 12px; color: #9b9b9b; padding-top: 10px;}
#cwrap02>.cwrap_02>.cwrap_02c>.in_01b>a { color: #4b8ce0; padding-top: 10px; display: block;}

#footer {width: 100%; background: #5e5e5e; height: 170px;}
#footer>.fwrap_01 {width: 100%; background: #4d4d4d; }
#footer>.fwrap_01:after {content: ""; clear: both; display: block;}
#footer>.fwrap_01>.fm_01 {width: 980px; height: 43px; margin: 0 auto; }
#footer>.fwrap_01>.fm_01>ul {width: 920px; height: 43px; float: left;}
#footer>.fwrap_01>.fm_01>ul.fm_in>li {float: left; width: 150px; height: 43px; line-height: 43px;}
#footer>.fwrap_01>.fm_01>ul.fm_in>li>a { color: white;}
#footer>.fwrap_01>.fm_01>ul.top {width: 58px; height: 43px;}

#footer>.fwrap_02 {width: 100%; }
#footer>.fwrap_02>.fm_02 {width: 980px; margin: 0 auto;}
#footer>.fwrap_02:after {content: ""; clear: both; display: block;}
#footer>.fwrap_02>.fm_02 {width: 980px; height: 43px; margin: 0 auto; }
#footer>.fwrap_02>.fm_02>.add {width: 820px; float: right; padding-top: 10px; padding-left: 20px;}
#footer>.fwrap_02>.fm_02>.add li { color: #fff; }

#footer>.fwrap_02>.fm_02>.add li:first-child {padding-bottom: 10px;}





