*{box-sizing: border-box;}

/*1번*/
/*
#menu {width: 700px; margin: 0 auto; position: relative;}
#menu>ul { width: 100%; }
#menu>ul:after { content: ""; display: block; clear: both;}
#menu>ul>li { float: left; text-align: center; border-right: 1px solid #dfdfdf; width: 20%; line-height: 40px; _position: relative;}
#menu>ul>li:last-child { border-right: none;}
#menu>ul>li:hover { background: #eee;}
#menu>ul>li:hover ul.sub { background: #eee;}

ul.sub { width: 100%; position: absolute; left: 0;}
ul.sub:after { content: ""; display: block; clear: both;}
ul.sub>li { width: 20%; float: left;}
ul.sub>li:hover { background: #aaa;}
ul.sub>li>a { display: block; text-align: center; padding: 5px 0;}*/

/*2번*/

/*
#wrap { width: 100%; margin: 0 auto; margin-top: 30px;}
.section { width: 100%;}
.banner { width: 100%; height: 400px; overflow: hidden; position: relative;}
.banner>ul { width: 500%; position: absolute;}
.banner>ul:after {content: ""; display: block; clear: both;}
.banner>ul>li { float: left; }
.banner>ul>li>img { width: 100%;}
.banner div.btn { width: 100%; position: absolute; bottom: 10px; background: #fff; text-align: center; font-size: 15px; font-weight: bold; left: 0px;}
.banner div.btn:after { content: ""; display: block; clear: both;}
.banner div.btn >span { width: 50px; text-align: center; }

.banner div.pager { width: 100%; position: absolute; bottom: 40px; text-align: center; color: white; cursor: pointer; }
.banner div.pager>span.bts {font-size: 25px; }*/

/*3번*/
h1 { width: 600px; padding: 10px;margin: 20px 180px;}
ul { position: absolute; width: 450px; left: 180px;}
ul:after { content: ""; display: block; clear: both;}
ul>li { float: left; width: 150px;}

#glayLayer { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.6; display: none;}
#overLayer { position: fixed; top: 50%; left: 50%; margin-top: -142px; margin-left: -215px; display: none;}

