/*1번*/


#fullpage { width: 100%; height: 100%;}
#page1 { background-image: url(../img/bg1.jpg);}
#page2 { background-image: url(../img/bg2.jpg);}
#page3 { background-image: url(../img/bg3.jpg);}
#page4 { background-image: url(../img/bg4.jpg);}
.pages { width: 100%; height: 100%; background-repeat: no-repeat; background-position: center top; background-size: cover;}
#navTop { position: fixed; font: 50px; background: #cdcdcd; width: 100%;z-index: 1;}
#navTop>ul { margin-left: 20px;}
#navTop>ul:after { content: ""; display: block; clear: both;}
#navTop>ul>li { float: left}
#navTop>ul>li>a { display: block; line-height: 50px; text-align: center; padding: 0 10px;}
#navTop>ul>li:active { background: red; border-radius: 10px;}
#navTop>ul>li:active>a { color: white; font-weight: bold;}
.main_cmt {width: 400px; margin-left: 100px;}
.main_cmt p { text-shadow: 1px 1px 1px #292929; color: white; font-weight: bold;}
.main_cmt p:nth-child(1) { font-size: 4em;}
.main_cmt p:nth-child(2) { font-size: 2em;}
.main_cmt a { width: 150px;border: 1px solid #fff; background: none; line-height: 45px; display: block; text-align: center; margin-top: 30px; color: white; border-radius: 10px; transition: 0.3s;}
.main_cmt a:hover { background: white; color: black;}
#page2 div.onview { opacity: 0; transition: 0.3s;}
#page2 div.onview.mactive { opacity: 1; transform: translateX(100px);}
#page3, #page4 { padding: 0 0 0 calc(50% - 50px);}

/*2번*/

/*
h1 { width: 100%; height: 150px; background: url(../img/top-bg.jpg) no-repeat center; background-size: cover; line-height: 150px; text-align: center;}
#wrapper { width: 90%; margin: 50px auto; text-align: center; min-width: 500px;}
.card { display: inline-block; width: 250px; background: #fff; padding: 15px; margin: 10px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 1px 1px #ccc; box-sizing: border-box; }
.card img { padding-bottom: 5px; border-bottom: 1px solid #ccc; width: 100%;}
.card p { padding: 10px; text-align: left;}*/
