html, body{
            height: 100%;
        }
#wrap{
    width: 100%;
    height: 100%;
    background: url(../img/123.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    top:  0px;
    left: 0;
    background-attachment: fixed;
    overflow: hidden;
}
#wrap:after{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0;
    background: rgba(0,0,0, 0.2);
}
header {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
}

#header .ham{
    width: 40px;
    height: 40px;
    position: relative;
    top: 30px;
    left: 6%;
    cursor: pointer;
}

.ham span{
    width: 30px;
    height: 3px;
    _background-color: #333;
    background: linear-gradient(to left, khaki,coral);
    _background-image: linear-gradient(to left, darkgray 80%, lightgray 3px, white 90%);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.7s;
    display: block;
    
}
#header .ham span:nth-child(1){
    
    top: 0%;
}
#header .ham span:nth-child(2){
    
    top: 25%;
}
#header .ham span:nth-child(3){
    
    top: 50%;
}
.ham span:nth-child(1).move {
    top: 25% !important;
    transform: rotate(45deg);
    background: linear-gradient(to left,coral,khaki,coral);
}
.ham span:nth-child(2).move {
    opacity: 0;
}
.ham span:nth-child(3).move {
    top: 25% !important;
    transform: rotate(-45deg);
    background: linear-gradient(to left,coral,khaki,coral);
}

/*             gnv              */
.gnbwrap{
    width: 900px;
    height: 70px;
    position: relative;
    top: -40px;
    left: 0;
    margin: 0 auto;
    _background: skyblue;
}
.gnbwrap:after{
    content: '';
    display: block;
    clear: both;
}
.gnbwrap ul{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.gnbwrap ul li{
    float: left;
    width: 100px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    margin-top: 10px;
    position: absolute;
    display: block;
    
}
.gnbwrap ul li:nth-child(1){
    margin-left: 80px;
}
.gnbwrap ul li:nth-child(2){
    margin-left: 275px;
}
.gnbwrap ul li:nth-child(3){
    margin-left: 470px;
    width: 120px;
}
.gnbwrap ul li:nth-child(4){
    margin-left: 675px;
    width: 140px;
}
.gnbwrap ul li a{
    
    font-size: 24px;
    color: coral;
    display: block;
    margin: 0 auto;
   transition: 0.4s;
}
.gnbwrap ul li:hover a{
    transform: scale(1.2);
}
.gnbwrap ul li:after{
    
			content: "";
			position: absolute;
		    border-bottom: 2px solid coral;
		    width: 0;
		    left: 50%;		    
		    transform:translateX(-50%);
		    
		    transition-duration: 0.4s;
		    margin-top: -2px;
}
.gnbwrap ul li:hover:after{width: 100%;}

.gnbwrap ul li.pa{
		    border-bottom: 2px solid coral;
}


header img{
    width: 120px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 4%;
}


.nwrap{
    width: 300px;
    height: 500px;
    position: fixed;
    top: 80px;
    left: 5%;
    z-index: -10;
    opacity: 0;
}

.open{
    opacity: 1;
    transition: 1s;
    z-index: 2;
}

.mbox{
    width: 150px;
    height: 80px;
    _border-top: 2px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s;
    z-index: 4;
    opacity: 0;
    line-height: 80px;
    
}


.nwrap .mbox a{
    color: coral;
    font-size: 1.5rem;
    display: block;
    _text-shadow: 1px 1px 5px #777;
}


.mbox:nth-child(1):hover a{
    color: forestgreen;
    text-shadow: none;
}


.mbox:nth-child(2):after{
			content: "";
			position: absolute;
		    border-bottom: 2px solid #f00;
		    width: 0;
		    left:50%;		    
		    transform:translateX(-50%);
		    
		    transition-duration: 0.4s;
		    margin-top: -9px;
		}
.mbox:nth-child(2):hover:after{width: 100%;}


.mbox:nth-child(2):hover a{
    color: red;
    text-shadow: none;
}

.mbox:nth-child(3):after{
			content: "";
			position: absolute;
		    border-bottom: 2px solid #f00;
		    width: 0;
		    left:50%;		    
		    transform:translateX(-50%);
		    
		    transition-duration: 0.4s;
		    margin-top: -9px;
		}
.mbox:nth-child(3):hover:after{width: 100%;}


.mbox:nth-child(2):hover a{
    color: red;
    text-shadow: none;
}
.mbox:nth-child(3){
    top: 0px;
    left: 0px;
    transition-delay: 0.3s;
}
.mbox:nth-child(3):after{
			content: "";
			position: absolute;
		    border-bottom: 2px solid yellow;
		    width: 0;
		    left:50%;		    
		    transform:translateX(-50%);
		    
		    transition-duration: 0.4s;
		    margin-top: -9px;
		}
.mbox:nth-child(3):hover:after{width: 100%;}

.mbox:nth-child(3):hover a{
    color: yellow;
    text-shadow: none;
    
}
.mbox:nth-child(4){
    top: 0px;
    left: 0px;
    transition-delay: 0.6s;
}
.mbox:nth-child(4):after{
			content: "";
			position: absolute;
		    border-bottom: 2px solid darkgreen;
		    width: 0;
		    left:50%;		    
		    transform:translateX(-50%);
		    
		    transition-duration: 0.4s;
		    margin-top: -9px;
		}
.mbox:nth-child(4):hover:after{width: 100%;}

.mbox:nth-child(4):hover a{
    color: darkgreen;
    text-shadow: none;
}
.mbox:nth-child(5){
    top: 0px;
    left: 0px;
    transition-delay: 0.9s;
}
.mbox:nth-child(5):after{
			content: "";
			position: absolute;
		    border-bottom: 2px solid navy;
		    width: 0;
		    left:50%;		    
		    transform:translateX(-50%);
		    
		    transition-duration: 0.4s;
		    margin-top: -9px;
            transition-delay: 0s;
		}
.mbox:nth-child(5):hover:after{width: 100%;}

.mbox:nth-child(5):hover a{
    color: navy;
    text-shadow: none;
}

/*sidemenu*/
.smwrap{
    width: 40px;
    height: 200px;
    _background: #eee;
    position: fixed;
    top: 40%;
    left: 92%;
    z-index: 15;
}

.smwrap ul{
    position: absolute;
    top: 50px;
    left: 0;
}
.smwrap ul li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 15px;
    cursor: pointer;
    _background: #177c36;
    background: linear-gradient(to left, coral, khaki);
    transition: 0.2s;
    
}
.smwrap ul li.long{
    height: 70px;
    border-radius: 25px 25px;
    _background: linear-gradient(to left, #1f7a3a, #1cb249);
    
}
.smwrap ul li.cm00{
    background: linear-gradient(to left, coral, khaki);
}
.smwrap ul li.cm01{
    background: linear-gradient(to left, navy, skyblue);
}

.smwrap ul li.cm02{
    background: linear-gradient(to left, darkgreen, yellowgreen);
}
.smwrap ul li.cm03{
    background: linear-gradient(to left, #a5660d, #ce8825);
}

/*마우스오버*/
.nwrap2{
    width: 300px;
    height: 400px;
    position: relative;
    top: -200px;
    left: 5%;
    z-index: 0;
}

.nwrap>.mbox.active {
    left: 0px;
    top: 0px;
}

.nwrap>.mbox:nth-child(1).active a{
/*
    color: red;
    font-weight: bold;
    text-shadow: none;
*/
}

.nwrap>.mbox:nth-child(2).active a{
    color: red;
    font-weight: bold;
    text-shadow: none;
}
.nwrap>.mbox:nth-child(3).active a{
    color: yellow;
    font-weight: bold;
    text-shadow: none;
}
.nwrap>.mbox:nth-child(4).active a{
    color: darkgreen;
    font-weight: bold;
    text-shadow: none;
}
.nwrap>.mbox:nth-child(5).active a{
    color: navy;
    font-weight: bold;
    text-shadow: none;
}

.gotop{
    width: 0px;
    height: 0px;
    border-top: 0px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid rgba(255,255,255,1);
    position: fixed;
    top: 800px;
    left: 91%;
    display: block;
    
}
.gotop span{
    position: absolute;
    top: 28px;
    left:-12px;
    font-size: 15px;
    font-weight: bold;
}
.gotop .st{
    width: 0px;
    height: 0px;
    border-top: 0px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 15px solid rgba(61, 61, 58,1);
    position: absolute;
    top: 5px;
    left: -9px;
    
}
.gotop:hover .st{
    border-bottom: 15px solid rgba(255, 0, 0,1);
}
/*마우스오버끝*/

/*pbox*/
.pbox{
    _width: 100%;
    height: 100%;
    
}

.pbox:nth-child(1){
    background-attachment: fixed;
    _height: 200%;
}

.hello{
    width: 1200px;
    height: 200px;
    position: relative;
    top: 380px;
    left: 0;
    margin: 0 auto;
    _background: #ddd;
    animation: down linear 1s;
    animation-timing-function: ease-out;

}




.hello p:nth-child(1){
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 20px;
    margin: 0 auto;
    width: 800px;
    height: 100px;
    color: #fff;
    z-index: 1;
}
.hello p:nth-child(2){
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: -78px;
    left: 3px;
    margin: 0 auto;
    width: 800px;
    height: 100px;
    color: #000;
    opacity: 0.5;
}
.hello p:nth-child(3){
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 300%);
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    width: 260px;
    height: 50px;
    z-index: 2;
    color: coral;
}
@keyframes down{
    0% {top:300px; opacity: 0;}
    50%{opacity: 0.3;}
    75%{opacity: 0.5}
    100%{top: 380px; opacity: 1;}
}


.hello p:nth-child(1) span{
    color:bisque;
    font-size: 100px;
}
.hello p:nth-child(2) span{
    color:#000;
    font-size: 100px;
}
.hello p:nth-child(1) i{
    color: salmon;
    
}
.hello p:nth-child(2) i{
    color: #000;
}
.pbox:nth-child(2) {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: url(../img/Books-glasses-tropical_2560x1600.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
    _opacity: 0.5;
}

.pbox:nth-child(2) .pb02{
    width: 80%;
    height: 70%;
    position: relative;
    top: 200px;
    left: 10%;
    background: #000;
    opacity: 0.7;
}

/*   profile */
.demo {
    max-width: 80%;
    height: 60%;
    margin: 0px auto;
    position: relative;
    top: 10%;
    left: 2%;
    z-index: 150;
}

.demo > div {
    width: 250px;
    height: 250px;
    float: left;
    margin: 0 auto;
   
    z-index: 150;
    color: whitesmoke;
    font-size: 18px;
}

.pbox:nth-child(3) {
    position: relative;
    top: 0;
    left: 0;
    background: url(../img/Book-and-apple-green-background_2560x1440.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.pbox:nth-child(4) {
    
    position: relative;
    top: 0;
    left: 0;
    background: url(../img/Cup-coffee-mug-flowers-steam_2560x1440.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}
/*
.pbox:nth-child(5) {
    background: url(../img/p005.jpg) no-repeat center;
}
*/

.wd {
    width: 50px;
    height: 50px;
    position: relative;
    bottom: -60%;
    left: 48%;
    transform: translate(-50%, -50%);
    border: 2px solid #bbb;
    border-radius: 10px;
    transition: 1s;
}
.wd i{
    color: #bbb;
    font-size: 35px;
    line-height: 50px;
    padding-left: 8px;
    transition: 1s;
}
.wd:hover{
    border: 2px solid coral;
    
}
.wd:hover i{
    color: coral;
}
.sld{
    width: 100px;
    height: 30px;
    position: relative;
    top: 750px;
    left: -13px;
    margin: 0 auto;
}
.sld p {
    color: #bbb;
    font-size: 15px;
}



.pbox02{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    background: url(../img/lo2.jpg) no-repeat center;
    background-size: cover;
    transition: 1s;
}

.pbox03{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    background: url(../img/lo3.jpg) no-repeat center;
    background-size: cover;
    transition: 1s;
}

.pbox04{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    background: url(../img/lo4.jpg) no-repeat center;
    background-size: cover;
    transition: 1s;
}


.left{
    left: 0%;

    }



main {
    
}
.lay{
    
}

section{
    width: 100%;
    height: 100%;
}

/*
@media screen and (min-width:359px){
    div.gnbwrap{
        display: none;
     }
}
*/


@media screen and (max-width: 479px) {
    
    div.gnbwrap{
        display: none;
        
     }
    
    header{
        _background: #fff;
    }
    header img{
        width: 25%;
        height: 50%;
        top: 25px;
    }
    .hello{
        top: 30%;
        width: 100%;
        height: 200px;
        animation: none;
    }
    .hello p:nth-child(1){
        font-size: 25px;
        width: 280px;
        
    }
    .hello p:nth-child(1) span{
        font-size: 40px;
    }
    .hello p:nth-child(2){
        left: 2px;
        width: 280px;
        font-size: 25px;
        z-index: 2;
    }
    .hello p:nth-child(2) span{
        font-size: 40px;
    }
    .hello p:nth-child(3){
        top: -75px;
        font-size: 18px;
        width: 150px;
    }
    .smwrap{
        display: none !important;
    }
    #nav{
        width: 100%;
        height: 50px;
/*        display: flex;*/
        position: fixed;
        top: 80px;
        left: 0;
        z-index: 15;
    }
    .nwrap{
        width: 100%;
        height: 50px;
/*        display: flex;*/
        position: relative;
        top: 0px;
        left: 0;
        z-index: 100;
        
    }
    .nwrap .mbox {
        width: 25%;
        height: 50px;
        float: left;
        position: static;
/*
        background: khaki;
        opacity: 0.3;
        z-index: 5;
*/
    }
    .nwrap .mbox a{
        line-height: 50px;
        height: 50px;
        font-size: 1rem;
        text-align: center;
    }
    .wd{
        width: 40px;
        height: 40px;
        bottom: -55%;
        border: 2px solid khaki;
    }
    .wd i{
        font-size: 25px;
        line-height: 40px;
        padding-left: 7px;
        color: khaki;
    }
    .sld{
    width: 100px;
    height: 30px;
    position: relative;
    top: 690px;
    left: 8px;
    margin: 0 auto;
    }
.sld p {
    color: #bbb;
    font-size: 15px;
    }
.pbox:nth-child(2) .pb02{
    top: 13%;
    height: 90%;
    }    
.demo{
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    }
    
}
div.ab{
    width: 150px;
}    
div.cir{
    width: 148px;
}

@media screen and (min-width: 480px) and (max-width: 639px){
    .gnbwrap{
        display: none;
    }
    header{
        background: #fff;
    }
    header img{
        width: 15%;
        height: 50%;
        top: 30px;
    }
    .hello{
        _top: 30%;
        width: 100%;
        height: 200px;
    }
    .hello p:nth-child(1){
        font-size: 30px;
        width: 310px;
        
    }
    .hello p:nth-child(1) span{
        font-size: 50px;
    }
    .hello p:nth-child(2){
        left: 2px;
        width: 310px;
        font-size: 30px;
        z-index: 2;
    }
    .hello p:nth-child(2) span{
        font-size: 50px;
    }
    .hello p:nth-child(3){
        top: -55px;
        font-size: 20px;
        width: 170px;
    }
    .smwrap{
        display: none;
    }
    









