/**/
/*
.css_pic { text-align: center; height: 430px;}
.css_pic img { width: 130px; height: 100px; position: relative;}*/

/*3번*/

/*
#slide, #panel, #flip { padding: 5px; text-align: center; background: #e3eecc;
border: 1px solid #c3c3c3;}
#panel {padding: 70px; display: none; background: #ffff00;}
*/

/*4번*/

/*
#slide, #panel { padding: 5px; text-align: center; background: #e5eecc;
border: 1px solid #c3c3c3;}
#panel {padding: 5px; display: none; background: #ffff00;}
*/

/*5번*/

.moving { border: 1px solid #000; margin: 20px auto 0 auto; text-align: left; width: 800px;}
.moving img { cursor: pointer; position: relative; width: 200px;}



















